<html>
    <head>
        <title>Boat Runner by Murino & Placanica</title>
        <style type="text/css">
            body {
              margin: 0;
              background-color: gray;
            }
            canvas {
              display: block;
              background-color: white;
            }
          </style>
          <script type="text/javascript" src="./utils.js"></script>
          <script type="text/javascript" src="./drawing.js"></script>
          <script type="text/javascript" src="./webgl-obj-loader.min.js"></script>
    </head>
<body>
    <canvas id="c" width="600" height="400">
        Write here something to show if your browser does not support the HTML5 canvas element
      </canvas>
</body>
</html>