<html>

<head>
  <title>Boat Runner by Murino & Placanica</title>
  <style type="text/css">
    body {
      margin: 0;
      background-color: black;
    }

    canvas {
      
      display: block;

    }
  </style>
  <script type="text/javascript" src="./utils.js"></script>
  <script type="text/javascript" src="./drawing.js"></script>
  <script type="text/javascript" src="./webgl-obj-loader.min.js"></script>
  <script>
    function HEX2RGB(hex) {
      "use strict";
      if (hex.charAt(0) === '#') {
        hex = hex.substr(1);
      }
      if ((hex.length < 2) || (hex.length > 6)) {
        return false;
      }
      var values = hex.split(''),
        r,
        g,
        b;

      if (hex.length === 2) {
        r = parseInt(values[0].toString() + values[1].toString(), 16);
        g = r;
        b = r;
      } else if (hex.length === 3) {
        r = parseInt(values[0].toString() + values[0].toString(), 16);
        g = parseInt(values[1].toString() + values[1].toString(), 16);
        b = parseInt(values[2].toString() + values[2].toString(), 16);
      } else if (hex.length === 6) {
        r = parseInt(values[0].toString() + values[1].toString(), 16);
        g = parseInt(values[2].toString() + values[3].toString(), 16);
        b = parseInt(values[4].toString() + values[5].toString(), 16);
      } else {
        return false;
      }
      return [r, g, b];
    }
    function enableMusic() {
      var audioCheck = document.getElementById('chbx');
      audioCheck.checked = true;

    }
  </script>

</head>

<body>
  <table style="width: 100%; height:100%">
    <tr>
      <td id="q" style="width: 80%;">
        <canvas id="c" style="width:100%; height:100%; background-color: grey; ">
          Your browser does not support the HTML5 canvas element.
        </canvas>
      </td>

      <div id="legend"
        style="position: absolute; z-index: 1; left: 40px; top: 50px; width:300px; height:100px; background-color: white; border-style: dashed; border-color: darkblue; opacity: 0.7; padding: 5px 10px 5px 10px; overflow:auto">
        <p style="font-family: Courier New">
          <b>INFO</b>

        <p>FPS: <b id="FPS"></b></p>


        </p>
      </div>


      <td
        style="background-color: white; font-family: 'Courier New', Courier, monospace; padding: 5px; height: 100%; width: 20%; margin-left: 80%;">
        <p>
        <h2> <b>Control Panel</b> </h2>
        </p>
        <!--
          <p><b> Radio buttons </b></p>
             <form> 
           
            <input type="radio" name="light" id="yesl" onchange="onRadioButtonChange(this.value);" value="1" checked>
            Option 1 <br />
            <input type="radio" name="light" onchange="onRadioButtonChange(this.value);" value="2"> Option 2 <br />
            <input type="radio" name="light" onchange="onRadioButtonChange(this.value);" value="3"> Option 3 <br />
          </form> 
          <p></p> -->
        <b>Ambient Light Color</b>
        <div id="slider4">
          <input type="color" id="favcolor" name="favcolor" value="#FFFFFF"
            oninput="onColorChange(this.value, 'ambient')">
          <br>
        </div>
        <br>
        <b>Boat material color</b>
        <div id="slider4">
          <input type="color" id="favcolor" name="favcolor" value="#FFFFFF"
            oninput="onColorChange(this.value, 'material')">
          <br>
        </div>
        <p></p>
        <b>Directional Light Color</b>
        <div id="slider4">
          <input type="color" id="favcolor" name="favcolor" value="#FFFFFF"
            oninput="onColorChange(this.value, 'directional')">
          <br>
        </div>
        <p></p>
        </p><b> dirLightAlpha </b></p>
        <div id="slider1"> 0
          <input id="slide1" type="range" min="0" max="360" step="1" value="180"
            oninput="dirLightChange(this.value,'alpha');" />
          360 <br />
        </div>
        <p><b> dirLightBeta </b></p>
        <div id="slider2"> 0
          <input id="slide2" type="range" min="0" max="360" step="1" value="100"
            oninput="dirLightChange(this.value,'beta');" />
          360 <br />
        </div>
        <p></p>
        <b>Specular Light Color</b>
        <div id="slider4">
          <input type="color" id="favcolor" name="favcolor" value="#FFFFFF"
            oninput="onColorChange(this.value, 'specular')">
          <br>
        </div>
        <p></p>
        </p><b> Specular shining </b></p>
        <div id="slider1"> 0
          <input id="slide1" type="range" min="0.0" max="1000.0" step="1.0" value="0.0"
            oninput="dirLightChange(this.value,'alpha');" />
          1000 <br />
        </div>

        <p></p>

        <b> Enable sound </b><br>
        <input type="checkbox" id="chbx" onclick="onSoundBoxChange(this.checked);" /> Sound ON<br />
        <!-- <p><b> Drop-down list</b></p>
          
          <select id="drop-down" name="" onchange="onDropdownChange(this.value);">
            <option value="1" selected>Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select> -->

        <audio id="audioPirate"></audio>

      </td>
    </tr>
  </table>


  <script>
    function onSoundBoxChange() {
      var audio = document.getElementById('audioPirate');
      var audioCheck = document.getElementById('chbx');
      if (audioCheck.checked) {
        audio.src = "Assets/pirate.mp3";
        audio.loop = true;
        audio.play();
      }
      else {
        audio.src = "";
        audio.play();
      }
    }

    before = 0.0;
    requestAnimationFrame(
      function loop() {
        now = Date.now();
        fps = Math.round(1000 / (now - before));
        before = now;
        requestAnimationFrame(loop);
        if (nFrame % 10 == 0) { document.getElementById("FPS").innerHTML = fps; }
      });



  </script>

</body>



</html>